
    <div class="row">
      <div class="col">
        <div class="card_img_product">
          <%= image_tag @product.image.src %>
        </div>
      </div>
      <div class="col">
        <h5><%= @product.title %></h5>
        <p><%= @product.variants.first.sku %></p>
        <p><strong><%= @product.variants.first.price %> €</strong></p>
      </div>
      <div class="col">
        <div class="buttons_buy">

        </div>
      </div>
    </div>


<h6>Dans la même collection ...</h6>
<div class="products_collection_mini_card d-flex">
    <% @products_collection.each do |product| %>
      <%= link_to product_path(product.id) do %>
      <div class="mini_card_product m-2 bg-light">
        <div class="mini_card_img">
          <%= image_tag product.image.src %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
<h6>Vous pourriez également aimer</h6>
<div class="products_type_mini_card d-flex">
    <% @products_type.each do |product| %>
      <%= link_to product_path(product.id) do %>
      <div class="mini_card_product m-2 bg-light">
        <div class="mini_card_img">
          <%= image_tag product.image.src %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
